
/* regole generali */
/* header */
header img {
    max-width: 55px;
}


i {
    color: rgb(129, 124, 124);
    padding: 5%;
    border: 2px solid grey;
    border-radius: 10px;
}
.riquadro-info {
    margin-left: 5%;
    border: 2px solid gray;
    border-radius: 12px;
}

/* da aggiungere? */
.disappear {
    display: none;
    
}
@media screen and (min-width:810px) {
    .disappear {
        display: block;
    }
}
