/* regole di debug macro */

main .container {
    /* border: 1px dashed black; */
    /* background-color: lightblue; */
    /* min-height: 80vh; */
}

main .row{
    /* border: 1px dashed rgb(152, 145, 145);
    border-radius: 20px; */
}

main .col{
    /* height: 100px; */
    /* background-color: #f1d2e7; */
    /* border: 1px solid #d0a8eb; */
}
/* regole generali */
/* header */
header img {
    max-width: 55px;
}

.disappear {
    display: none;
    
}
@media screen and (min-width:810px) {
    .disappear {
        display: block;
    }
}
i {
    color: rgb(129, 124, 124);
    padding: 5%;
    border: 2px solid grey;
    border-radius: 10px;
}
